td.numcol {
    text-align: right;
}

table.board {
    border-spacing: 0px;
    table-layout: fixed;
}

table.board td {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    font-size: 14px;
}

table.board td div.piece {
    margin-top: -7px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.bc {
    background-color: #ddd;
}

.coord {
    color: #77F;
}